@import '_variables';

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $default-font;
  height: 100%;
  color: $body-color-light;
}

.content h1 {
  padding-top: 2em;
}

.card {
  height: 225px;
  border-radius: 5px;
  overflow: hidden;
  margin: 2em 2em 0 0;
  color: #fff;

  & img {
    width: 100%;
  }
}

.list-container {
  display: flex;
  flex-wrap: wrap;

  & a {
    text-decoration: none;
  }
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  text-align: center;
  color: white;
  padding-top: 4em;
  background-color: $secondary-color-light;

  /* background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%); */
  min-height: 500px;

  & h1,
  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: $a-hover;
    }
  }

  & p {
    font-size: 1.25em;
  }

  & .profile-img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;

    & img {
      width: 150px;
      height: 150px;
    }
  }
}

.footer-column {
  padding: 1em;
  width: 100%;
  max-width: 350px;

  & p {
    margin: 1em 0 0 0;
  }

  & a {
    text-decoration: none;
    color: $body-color-dark;

    &:hover {
      color: $a-hover;
    }
  }
}

.nav {
  margin: 2em 1em 1em 1em;
}

.nav p {
  text-align: center;
  margin: 1em 0 1em 0;
}

.container {
  margin-left: 250px;
  padding: 0 2em 2em 2em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.container p {
  margin: 1em 0 0 0;
}

footer {
  background-color: $footer-color-light;
  height: auto;
  min-height: 250px;
  margin-left: 250px;
  padding: 1em;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.card-content {
  position: absolute;
  margin: 1em;
  height: 85%;
}

.card-gradient {
  height: 225px;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}

.card,
.card-gradient {
  width: 400px;
  overflow: hidden;
}

.list-item {
  background-color: $footer-color-light;
  overflow: hidden;
  color: white;
  padding: 1em;
  border-radius: 5px;
  margin: 2em 2em 0 0;
  max-width: 1200px;
}

.language-item {
  width: 100px;
  height: 50px;
  background-color: #ef5350;
  color: #fff;
  border-radius: 5px;
  list-style-type: none;
  margin: 1em 1em 1em 0;
  text-align: center;
  vertical-align: center;
}

.card,
.list-item,
.language-item {
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.card:hover,
.list-item:hover,
.language-item:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.language-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.project-technologies {
  position: absolute;
  bottom: 0;
}

#nav-toggle {
  background-color: $secondary-color-dark;
  position: fixed;
  width: 0%;
  min-height: 50px;
}

.hamburger-menu {
  padding: 1em 0 0 1em;
}

.hamburger-bar {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 4px;
}

#nav-button {
  width: 30px;
  height: 30px;
  background-color: $secondary-color-light;
  border: none;
  color: #fff;
}

/* mobile layout */
@media screen and (max-width: 600px) {
  .sidenav {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
  }

  #sidenav {
    display: none;
  }

  #mobile-sidenav {
    margin: 0;
    height: 0;
    padding: 0;
    margin-top: 14px;
    visibility: hidden;
  }

  #nav-toggle {
    width: 100%;

    /* this is hacky but it works */
    z-index: 2;
    height: 0;
  }

  .container,
  footer {
    margin: 0;
  }

  .card-container {
    justify-content: center;
  }

  .language-container {
    justify-content: space-around;
  }

  .content h1 {
    padding-top: 3em;
  }

  .card,
  .card-gradient {
    width: 300px;
    height: 300px;
  }

  .card img {
    height: 100%;
    width: auto;
  }

  .list-item {
    margin: 1em 0 1em 0;
    width: 90%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #444;
    color: $body-color-dark;
  }

  h1,
  h2,
  a,
  p {
    color: $body-color-dark;
  }

  .sidenav,
  #nav-button,
  #nav-toggle {
    background-color: $secondary-color-dark;
  }

  .card-gradient {
    background-image: linear-gradient(rgb(0, 0, 0));
  }

  .list-item,
  footer {
    background-color: $footer-color-dark;
  }

  .profile-img {
    filter: brightness(85%);
  }
}
