.App {
  min-height: 100vh;
  background-color: #212121;

  &  section > h1,h2,h3,p,a, div {
    color: #EEEEEE;
  }
}

.divider-primary {
  min-height: 25vh;
  background-color: #1e1e7e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EEEEEE;
}

.social-icons{
  display: flex;
  justify-content: space-around;
  margin: 0;

  & h1 {
    margin: 0;
    padding: 0;
  }
}

.skill-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section {
  padding: 4em;
}

.profile-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: -10vh;
}

.profile-container * {
  margin: 20px;
}

.profile-img {
  max-height: 15vh;
  border-radius: 50%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

footer {
  padding:  0 4em 4em 4em;
  background-color: #1e1e7e;
  color: #EEEEEE;
  margin-top: -1em;

  & h2 {
    margin: 0;
  }
}