.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.divider-primary {
  min-height: 50vh;
  min-width: 100vw;
  background-color: #3535ac;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
