.bg-1 {
	background-size: auto;
	background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,1));
	background-repeat: no-repeat;
}

h1 {
	padding-bottom: 20px;
	font-family: sans-serif;
	color: black;
}

body {
	font-family: roboto;
}